@model ServiceContracts.DTO.ProjectDTO.ProjectUpdateRequest;
@{
    ViewData["Title"] = "Edit Project";
}
<div class="project-settings">
    <div class="w-50 mx-auto">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create Project</h1>
            </div>
            <form class="user w-75 mx-auto" asp-controller="Project"  asp-action="Update"  method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ProjectName">Project Name</label>
                    <input asp-for="ProjectName" class="form-control form-control-user p-2" style="border-radius: 0%;" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="">
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectKey">Project Key</label>
                    <input asp-for="ProjectKey" class="form-control form-control-user p-2" style="border-radius: 0%;" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="">
                    <span asp-validation-for="ProjectKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Catagory">Project Catgory</label>
                    <select asp-for="Catagory" asp-items="new SelectList(Enum.GetValues(typeof(ServiceContracts.Enums.ProjectCatagoryOptions)))" class="form-control form-control-user p-2" style="border-radius: 0%;">
                    </select>
                    <span asp-validation-for="Catagory"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DefaultAssignee">Defaul Assignee</label>
                    <select asp-for="DefaultAssignee" asp-items="new SelectList(Enum.GetValues(typeof(ServiceContracts.Enums.ProjectDefaultAssignee)))" class="form-control form-control-user p-2" style="border-radius: 0%;">
                    </select>
                    <span asp-validation-for="DefaultAssignee"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary btn-user btn-block" />
                </div>

            </form>
            <hr>

        </div>
    </div>
</div>