<!-- all project table start  -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All project</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Name</th>
                        <th>Key</th>
                        <th>Type</th>
                        <th>Lead</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project-with-review.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://i.ibb.co/341SyT0/Fgfe627-Vs-AAJ9n-Q.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="">
                                    <a href="selected-project.html" style="text-decoration:underline;margin-left:10px;">SpceX</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">PK123</p>
                        </td>
                        <td>
                            <span class="badge badge-success rounded-pill d-inline">Scrum</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                     alt=""
                                     style="width: 45px; height: 45px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">John Doe</p>
                                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                    <a class="dropdown-item" href="project-setting.html">Project Setting</a>
                                    <a class="dropdown-item" href="#">Move to Trash</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- all project table end  -->