@using ServiceContracts.DTO.CommentDTO;
@model CommentShowResponse;
<div class="d-flex">
    <img class="img-profile rounded-circle" height="30px" src="img/undraw_profile.svg">
    <div>
        <div class="d-flex mx-2">
            <a href="profile.html" style="text-decoration: none;">@Model.User.UserName</a> <small class="mt-1 mx-2">@Model.CreatedAt</small>
        </div>
        <div class="mx-2">
        <input name="c1" type="text" value="@Model.commentText" style="outline: 0px;" class="border-0" id="c1">
        
        @if(Model.User.UserName==User.Identity.Name)
        { 
                <br>
                <label for="c1" class="text-primary ">Edite</label>
                <a href="#">Delete</a>
            
        }
        </div>
    </div>
</div>