<div class="sprint-container px-4">
    <div class="d-flex justify-content-between flex-wrap">
        <h4>First Sprint</h4>
        <div class="d-flex align-items-center flex-wrap">
            <span><i class="fa-regular fa-clock"></i> 6 days remaining</span>
            <a href="#" class="btn btn-light bg-gray-500">
                <span class="text">Complete Sprint</span>
            </a>
            <!--  -->
            <div class="dropdown no-arrow px-2">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-share-nodes"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="width: 400px;">
                    <form class="user w-75 mx-auto">

                        <div class="form-group">
                            <!-- tag input -->

                            @*<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css">*@

                            <label for="name">Users</label>
                            <br>
                            <input name="tags" value="" class="w-100" style="display: block; height: auto;" autofocus="">
                            
                            <script>
                                // The DOM element you wish to replace with Tagify
                                var input = document.querySelector('input[name=tags]');

                                // initialize Tagify on the above input node reference
                                new Tagify(input)
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="name">Recipient will see your message</label>
                            <br>
                            <textarea name="" id="" cols="38" rows="4"></textarea>
                        </div>

                        <a href="view-all-project.html" class="btn btn-primary btn-user rounded-0 py-1 px-5">
                            Share
                        </a>

                    </form>
                </div>
            </div>
            <div class="dropdown no-arrow px-2">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Board Setting</a>
                    <a class="dropdown-item" href="#">Create Board</a>
                    <a class="dropdown-item" href="#">Print Card</a>
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-between my-3 flex-wrap">
        <div class="d-flex flex-wrap">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control bg-light  small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a href="#" class="btn btn-light bg-gray-500 mx-2">
                <span class="text">Only My issue</span>
            </a>
            <a href="#" class="btn btn-light bg-gray-500 mx-2">
                <span class="text">Unassigned</span>
            </a>
            <a href="#" class="btn btn-light bg-gray-500 mx-2">
                <span class="text">Clear</span>
            </a>
        </div>
        <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fa-solid fa-chart-line"></i>Insights</a>
    </div>
    <style>
        .issue-item:hover {
            cursor: move;
        }
    </style>
    <div class="row">
        <div class="col-3  ">
            <div class="bg-gray-300 p-2">TO DO</div>
        </div>
        <div class="col-3 ">
            <div class=" bg-gray-300 p-2">IN PROGRESS</div>
        </div>
        <div class="col-3  ">
            <div class="bg-gray-300 p-2">IN Review</div>
        </div>
        <div class="col-3 ">
            <div class=" bg-gray-300 p-2">DONE</div>
        </div>
        <div class="col-3  issue-container">
            <div class="card shadow mb-4 issue-item draggable" style="display: 1; background-color: wheat;" draggable="true">
                <!-- Card Body -->
                <div class="card-body" style="position: relative;">
                    <div class="dropdown no-arrow" style="position: absolute; top: 5px; right: 5px;">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <a class="dropdown-item issue-edite"><i class="fa-solid fa-tag"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i>Remove</a>
                        </div>
                    </div>
                    <div class="issue-body">
                        <div class="story-details">
                            <p>As a user, I can find important items on the board by using the customisable "Quick Filters" above &gt;&gt; Try clicking the "Only My Issues" Quick Filter above</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="icons d-flex">
                                <i class="fa-solid fa-bug text-danger" title="bug"></i>
                                <i class="fa-solid fa-grip-lines mx-2" title="Midium Priority" style="color: orange;"></i>
                            </div>
                            <div class="d-flex">
                                <small>BoardName</small>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 20px; width: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 issue-item draggable" style="display: 1; background-color: wheat;" draggable="true">
                <!-- Card Body -->
                <div class="card-body" style="position: relative;">
                    <div class="dropdown no-arrow" style="position: absolute; top: 5px; right: 5px;">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <a class="dropdown-item issue-edite"><i class="fa-solid fa-tag"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i>Remove</a>
                        </div>
                    </div>
                    <div class="issue-body">
                        <div class="story-details">
                            <p>As a user, I can find important items on the board by using the customisable "Quick Filters" above &gt;&gt; Try clicking the "Only My Issues" Quick Filter above</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="icons d-flex">
                                <i class="fa-solid fa-bug text-danger" title="bug"></i>
                                <i class="fa-solid fa-grip-lines mx-2" title="Midium Priority" style="color: orange;"></i>
                            </div>
                            <div class="d-flex">
                                <small>BoardName</small>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 20px; width: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 issue-item draggable" style="display: 1; background-color: wheat;" draggable="true">
                <!-- Card Body -->
                <div class="card-body" style="position: relative;">
                    <div class="dropdown no-arrow" style="position: absolute; top: 5px; right: 5px;">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <a class="dropdown-item issue-edite"><i class="fa-solid fa-tag"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="fa-solid fa-trash"></i>Remove</a>
                        </div>
                    </div>
                    <div class="issue-body">
                        <div class="story-details">
                            <p>As a user, I can find important items on the board by using the customisable "Quick Filters" above &gt;&gt; Try clicking the "Only My Issues" Quick Filter above</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="icons d-flex">
                                <i class="fa-solid fa-bug text-danger" title="bug"></i>
                                <i class="fa-solid fa-grip-lines mx-2" title="Midium Priority" style="color: orange;"></i>
                            </div>
                            <div class="d-flex">
                                <small>BoardName</small>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 20px; width: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3  issue-container">
        </div>
        <div class="col-3  issue-container">
        </div>
        <div class="col-3  issue-container">
        </div>
    </div>

    <script>
        const draggables = document.querySelectorAll(".draggable");
        const issue_containers = document.querySelectorAll('.issue-container');
        draggables.forEach(draggable => {
            draggable.addEventListener('dragstart', () => {
                console.log("drag start");
                draggable.classList.add('dragging');
            });
            draggable.addEventListener('dragend', () => {
                console.log('drag ends');
                draggable.classList.remove('dragging');
            });
        });
        issue_containers.forEach(container => {
            container.addEventListener('dragover', (event) => {
                event.preventDefault();
                const draggable = document.querySelector('.dragging');
                console.log("drag-over");
                container.appendChild(draggable);
            });
        });
        function getDraggableAfterElement(container, y) {
            const draggableElements = [...container.querySelectorAll('draggable:not(.dragging)')];
        }
    </script>
    <script>

        function showModal(className, id) {
            clickable_items = document.querySelectorAll(className);
            modal_container = document.getElementById(id);
            clickable_items.forEach(item => {
                item.addEventListener('click', () => {
                    modal_container.classList.remove('d-none');
                });
            });

        }
        function closeModal(id) {
            modal_container = document.getElementById(id);
            modal_container.classList.add('d-none');
        }
        showModal('.issue-body', 'issue-modal-container');
        showModal('.issue-edite', 'issue-modal-container');

                               // create-issue-modal
                               // showModal('.issue-create-btn','create-issue-modal-container');


                                // document.getElementById('create-issue-close-btn').addEventListener('click',()=>{
                                //     closeModal('create-issue-modal-container')
                                // })
    </script>
</div>