@using ServiceContracts.DTO;
@{
    ViewData["Title"] = "Home Page";
    
}
<div class="container-fluid">
    <h5>Your Work</h5>
    <div class="recent-projects container-fluid bg-white p-2">
        <div class="d-flex justify-content-between">
            <p class="text-bold text-dark">Recent Projects</p>
            <a href="">View All projects</a>
        </div>
        <div class="d-flex">
            <section class="card" style="width: 240px; height: 150px;">
                <div class="d-flex">
                    <img class="sc-19ime50-1 jPnJkx" src="https://shuvoislam.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10416?size=medium" width="24px" height="24px">
                    <div class="p-2">
                        <p>Small Scrum Project</p>
                        <small>small scrum project</small>
                        <p>Quick Links</p>
                        <a href="" class="d-flex index-page-recent-project-style" style="justify-content: space-between; text-decoration: none; text-shadow: 0cqmax;">
                            <small class="text-bold text-dark">My open issues</small>
                            <small style="background-color: gainsboro;padding: 2px 5px;border-radius: 30%;">2</small>
                        </a>
                        <style>
                            .index-page-recent-project-style:hover {
                                background-color: gainsboro;
                                padding: 3px 10px;
                                border-radius: 5px;
                            }
                        </style>
                    </div>
                </div>
            </section>
            <section class="card" style="width: 240px; height: 150px; margin-left: 10px;">
                <div class="d-flex">
                    <img class="sc-19ime50-1 jPnJkx" src="https://shuvoislam.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10416?size=medium" width="24px" height="24px">
                    <div class="p-2">
                        <p>Small Scrum Project</p>
                        <small>small scrum project</small>
                        <p>Quick Links</p>
                        <a href="" class="d-flex index-page-recent-project-style" style="justify-content: space-between; text-decoration: none; text-shadow: 0cqmax;">
                            <small class="text-bold text-dark">My open issues</small>
                            <small style="background-color: gainsboro;padding: 2px 5px;border-radius: 30%;">2</small>
                        </a>
                        <style>
                            .index-page-recent-project-style:hover {
                                background-color: gainsboro;
                                padding: 3px 10px;
                                border-radius: 5px;
                            }
                        </style>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="home-nav-tabs">
        <div class="tabs">
            <button class="tab active" data-tab="tab1">Work On</button>
            <button class="tab" data-tab="tab2">Viewed</button>
            <button class="tab" data-tab="tab3">Assigned To Me</button>
        </div>

        <div class="tab-content active" id="tab1">
            <div class="today">
                <p class="text-bold">Today</p>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
                <a href="" class="issue-item-link  d-flex align-items-center justify-content-between" style="text-decoration: none; color: black;">
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">
                    <p style="width: 70%;">As a team, we can finish the sprint by clicking the cog icon next to the sprint name above the "To Do" column then selecting "Complete Sprint" >> Try closing this sprint now</p>
                    <small>Updated</small>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg" style="height: 25px; ">

                </a>
            </div>

        </div>

        <div class="tab-content" id="tab2">
            <h2>Tab 2 Content</h2>
            <p>This is the content for Tab 2.</p>
        </div>

        <div class="tab-content" id="tab3">
            <h2>Tab 3 Content</h2>
            <p>This is the content for Tab 3.</p>
        </div>
        <style>
            .tabs {
                display: flex;
            }

            .tab {
                padding: 10px 15px;
                margin-right: 10px;
                border: none;
                border-bottom: 2px solid transparent;
                background-color: #f2f2f2;
                cursor: pointer;
            }

                .tab.active {
                    border-bottom: 2px solid blue;
                    background-color: #fff;
                }

            .tab-content {
                display: none;
            }

                .tab-content.active {
                    display: block;
                }

            .issue-item-link {
                margin-top: 7px;
                text-decoration: none;
                background-color: rgb(234, 229, 229);
                border-radius: 4px;
            }

                .issue-item-link:hover {
                    background-color: gainsboro;
                    padding: 1px 1px;
                    border-radius: 5px;
                }

        </style>
        <script>
            const tabs = document.querySelectorAll('.tab');
            const tabContents = document.querySelectorAll('.tab-content');

            tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                // remove the active class from all tabs
                tabs.forEach(tab => {
                tab.classList.remove('active');
                });

                // remove the active class from all tab contents
                tabContents.forEach(content => {
                content.classList.remove('active');
                });

                // add the active class to the clicked tab
                tab.classList.add('active');

                // get the ID of the corresponding tab content
                const tabID = tab.getAttribute('data-tab');

                // add the active class to the corresponding tab content
                const tabContent = document.getElementById(tabID);
                tabContent.classList.add('active');
            });
            });

        </script>
    </div>
</div>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Current Sign In User @User.Identity.Name</h1>
</div>*@
