<style>
    .profile-value-input input {
        border: none;
    }

    .profile-value-input input:focus {
        outline: 3px solid skyblue;
    }
</style>
<div class="container-fluid">
    <div class="prophile-photos-container position-relative">
        <div class="coverphoto position-relative bg-gray-900" style="height: 200px;">
            <div class="position-absolute bg-primary" style="bottom: -60px; right:70vw;height: 120px; width: 120px; border-radius: 50%;">
                <div class="d-flex aligin-">
                </div>
            </div>
            <!-- <div class="position-absolute" style="bottom: -120px; right: 59vw;">
                <h3 class="text-primary">Shuvo Islam</h3>
            </div> -->

        </div>

        <div class="prophile-content" style="margin-top: 70px;">
            <div class="row">
                <div class="col-lg-3">
                    <h5>Shuvo Islam</h5>
                    <a href="#" class="btn btn-light w-100 mx-auto bg-gray-200 mb-3">
                        <span class="text">Manage Account</span>
                    </a>
                    <div class="bg-white p-3 pb-5" style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;">
                        <h6>
                            About</h2>
                            <div class="profile-value-input position-relative mt-3" id="job-title">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <input type="text" placeholder="Your Job Title" style="flex-grow: 100; margin-left: 5px;">
                                </div>
                                <div class="position-absolute input-field-control d-none" style="z-index: 100;bottom: -120%; right: 0;">
                                    <button class="px-2" style="background-color: rgb(170, 200, 200);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-check"></i></button>
                                    <button class="px-2" style="background-color: rgb(249, 96, 131);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-xmark"></i></button>

                                </div>
                            </div>
                            <div class="profile-value-input position-relative mt-3" id="job-title">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-sitemap"></i>
                                    <input type="text" placeholder="Your Department" style="flex-grow: 100; margin-left: 5px;">
                                </div>
                                <div class="position-absolute input-field-control d-none" style="z-index: 100;bottom: -120%; right: 0;">
                                    <button class="px-2" style="background-color: rgb(170, 200, 200);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-check"></i></button>
                                    <button class="px-2" style="background-color: rgb(249, 96, 131);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-xmark"></i></button>

                                </div>
                            </div>
                            <div class="profile-value-input position-relative mt-3" id="job-title">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-building"></i>
                                    <input type="text" placeholder="Your Organization" style="flex-grow: 100; margin-left: 5px;">
                                </div>
                                <div class="position-absolute input-field-control d-none" style="z-index: 100;bottom: -120%; right: 0;">
                                    <button class="px-2" style="background-color: rgb(170, 200, 200);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-check"></i></button>
                                    <button class="px-2" style="background-color: rgb(249, 96, 131);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-xmark"></i></button>

                                </div>
                            </div>
                            <div class="profile-value-input position-relative mt-3" id="job-title">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <input type="text" placeholder="Location" style="flex-grow: 100; margin-left: 5px;">
                                </div>
                                <div class="position-absolute input-field-control d-none" style="z-index: 100;bottom: -120%; right: 0;">
                                    <button class="px-2" style="background-color: rgb(170, 200, 200);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-check"></i></button>
                                    <button class="px-2" style="background-color: rgb(249, 96, 131);color: rgb(78, 72, 72);border: none;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;"><i class="fa-solid fa-xmark"></i></button>

                                </div>
                            </div>
                            <div class="contact">
                                <h6 class="mt-4">Contact</h6>
                                <p><i class="fa-solid fa-envelope mr-2"></i>suvo2513@nstu.edu.bd</p>
                            </div>
                            <div class="teams">
                                <h6 class="mt-4">Teams <sup class="text-success">8</sup></h6>
                                <div class="d-flex align-items-center mt-2" style="height:47px;box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;">
                                    <i class="fa-solid fa-people-group text-info ml-2" style="font-size: 1.7rem;"></i>
                                    <div class="ml-2 mt-2">
                                        <small>Team IIT</small><br>
                                        <small>10 Member</small></p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mt-2" style="height:47px;box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;">
                                    <i class="fa-solid fa-people-group text-primary ml-2" style="font-size: 1.7rem;"></i>
                                    <div class="ml-2 mt-2">
                                        <small>Testing TeraByte</small><br>
                                        <small>13 Member</small></p>
                                    </div>
                                </div>
                                <a href="#">See More</a>
                                <a href="#" class="btn btn-light w-100 mx-auto bg-gray-200 my-3">
                                    <i class="fa-solid fa-plus"></i>
                                    <span class="text">Create Team</span>
                                </a>
                                <a href="#"><small>View Privacy Policy</small></a>
                            </div>

                    </div>
                </div>
                <div class="col-lg-8">
                    <h1>Some Profile Related Content</h1>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const inputs = document.querySelectorAll(".profile-value-input input");
    inputs.forEach(input=>{
        const fieldControl = input.parentNode.nextSibling.nextSibling;
        input.addEventListener('focus',()=>{
            const classValue = fieldControl.getAttribute("class");
            const newValue = classValue.replace("d-none","d-block");
            fieldControl.setAttribute("class", newValue);
        });
        input.addEventListener('blur',()=>{
            const classValue = fieldControl.getAttribute("class");
            const newValue = classValue.replace("d-block","d-none");
            fieldControl.setAttribute("class", newValue);
        });
    })
</script>